---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

const { title, description, image } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{title} | Broslunas Chat</title>

    <meta name="description" content={description} />
    <meta name="author" content="Broslunas" />
    <meta name="keywords" content="chat, broslunas, AI, inteligencia artificial" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content="Broslunas Chat" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:site" content="@broslunas" />
    <meta name="twitter:creator" content="@broslunas" />

    <link rel="shortcut icon" href="https://cdn.broslunas.com/favicon.ico" type="image/x-icon">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <Header />
    <main style="padding: 1rem;">
      <slot />
    </main>
    <Footer />
    <style>
          @font-face {
            font-family: "Minecraft";
            src: url("/minecraft.ttf") format("truetype");
          }
          @font-face {
            font-family: "Minecraft Title";
            src: url("/minecraft-titles.ttf") format("truetype");
          }
    </style>
  </body>
</html>